
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
:root{
  --dark-grey: rgba(0, 0, 0, 0.2 );
}
body{
  font-family:Arial, Helvetica, sans-serif;
  background-color:var(--dark-grey);
  font-size: clamp(1rem, 2.2vh, 1.5rem);
}
.checkout-app{
  margin-inline:20px;
}

.cart-summary{
  background-color:rgb(240, 240, 240) ;
  color:green;
  margin: 80px 20px 20px 0;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2 ),
  0px 2px 2px 0px rgba(0, 0, 0, 0.2 );
  padding:12px;
  display:flex;
  border-radius:5px;
}

 .main-checkout-grid{
  display:grid;
  grid-template-columns: repeat(1fr, 400px);
  padding-bottom:20px;
  column-gap: 15px;
} 
@media(min-width:768px){
  .main-checkout-grid{
    grid-template-columns:repeat(2, 1fr);
  }
}

@media(max-width:769px){ 
  .main-checkout-grid{
    grid-template-columns:1fr;
  }
   .order-summary-wrapper{
    margin-right:20px;
  } 
  .checkout-app{
    margin-right:5px;
  }

}

@media(max-width:450px){ 
  .main-checkout-grid{
    grid-template-columns:1fr;
    
  }
  .order-summary-wrapper{
    margin-right:20px;
  } 
  .footer{
    margin-right:-50px;
  }
}
.order-summary-wrapper{
  margin-right:20px;
}
.items-container{
  display:grid;
  grid-template-columns:1fr ;
  border-radius:5px;
  background-color:rgb(240, 240, 240) ;
  margin-bottom: 15px;
  margin-right:20px;
  padding:12px 12px 0px 12px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2 ),
  0px 2px 2px 0px rgba(0, 0, 0, 0.2 );
}    
.product-container-grid{
  display:grid;
  grid-template-columns:180px 200px;
} 
.product-image-container{
  width:150px;
  height:auto;
} 

.product-image{
  width:100%;
  height:auto;
  object-fit:contain;
}

.quantity-price{
  text-align: right;
  color: green;
  position:relative;
  font-weight: 700;
}

.product-oldprice{
  text-decoration: line-through;
   margin-top:-25px 
}

.product-description-container{
  display:flex;
  flex-direction:column;
  gap:10px;

}

.shop-chant{
  color:palevioletred;
  font-style:oblique;
  font-weight:600;
}

.update-container{
  margin-left:30px;
  margin-bottom:20px;

}  
.remove-button{
  background-color:rgb(236,137,7);
  color:white;
  font-weight:600;
  padding-inline:12px;
  padding-block:8px;
  border:none;
  border-radius:5px;
  box-shadow:0px 5px 0px 0px green,
   0px 4px 0px 0px rgb(165, 97, 9);
} 
.remove-button:active{
  transform:scale(90%);
  transition:0.5s;
 
}
.order-summary-wrapper{
  border-radius:5px;
  background-color: rgb(240,240,240);
  padding-inline:15px;
  padding-block:10px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2 ),
  0px 2px 2px 0px rgba(0, 0, 0, 0.2 );
  display:grid;
  grid-template-columns:1fr
}

.order-summary-heading{
  color:rgb(236,137,7);
  margin-bottom: 10px;
}
.order-summary,.total-amount-container{
  display:grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 15px;
  margin-left: 20px;
} 
#total-bill{
  color:red;
  font-weight:700;
}
 .total-price-container{
  text-align:center;
 }
 .order-button,.a-back-to-home >button{
  background-color:rgb(236,137,7);
  color:white;
  font-size: 18px;
  font-weight:700;
  border:none;
  margin-top:8px;
  padding-block:8px;
  padding-inline:15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
 }
/* Style rules for footer*/
.footer{
  background-color:#000; 
  color:white; 
  text-align:center;
  padding:10px 20px 50px 20px;
  line-height:30px;
  padding-top: 10px;
  padding-inline: 20px;
}

.foot-links a{
  text-decoration: none;
  color:white;
}
.foot-links a:hover{
  color:rgb(236,137,7);
}
.footer-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:30px;
  margin-bottom: 10px ; 
}

span{
  color:red;
  font-size:20px ;
}
.copy-right{
  margin-bottom:5rem;
}


