
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  font-family:Arial, Helvetica, sans-serif;
}
  .u-shop-header{
  height:80px;
  padding-inline:30px;  
  align-items: center;
  position:fixed;
  z-index:100;
  top:0;
  right:0;
  left:0;
  display:flex;
  flex-flow:row;
  column-gap: 10px;
  justify-content:space-evenly;
  background-color: rgb(19, 25, 33);
   color:white; 
} 
 .header-left{
  display:flex;
  width:120px;
  padding-left:30px;
  justify-content: center;
  align-items: center;
  position: relative;
   top:-10px; 
} 
 .header-left-link{
text-decoration: none;
cursor: pointer;
} 

 .u-shop-logo{
  left:-10px;
  top:-24px;
   position: absolute;
  font-weight:600px;
  font-size:25px;
  text-decoration: none;
  color:rgb(236, 137, 7);
  text-shadow:0 4px 3px  rgb(165, 97, 9);
  display: inline;
} 

 h2{
  margin-top:10px;
} 

/*Style rules for middle header section*/
.header-middle{
  height:45px;;
  display:flex;
  flex:1 1;
  position:relative;
  background-color: white;
  border-radius:5px;;
   margin-right:27px; 
}

.search-icon{
  width:30px;
  height:30px;
  margin:10px 10px 15px 20px;
}

.message{
  position: absolute;
  color:greenyellow;
  z-index: 1;
  background-color: rgb(236, 137, 7);
  font-size:18px;
  padding:4px;
  border-radius:5px;
  display:none;
}
.popUp{
  display:inline-block;
}
.input-search{
  width:0;
  display:flex;
  flex:1 1 auto;
  border:none;
  font-size: inherit;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.input-search:focus{
  outline:none;
}

.btn-search-icon{
  border:none;
  padding-bottom: 10px;
  background-color:rgb(236, 137, 7);
  border-radius:5px;
}

/*Style rules for left header section*/
 .header-right{
  width:3rem;
  margin-right: 40px;
  margin-left: 20px;
  display:flex;
  flex-shrink:0 ;
  justify-content: space-between;
  justify-content:flex-end;
  position:relative;
  
} 

.cart-link{
  text-decoration: none;
  cursor:pointer;
}

.cart-logo{
  width:60px;
  padding-left:10px;

}

.cart-quantity{
  position:absolute;
  top:-4px;
  right:-16px;
  color:white;
  background-color:rgb(236, 137, 7);
  border-radius:50%;
  font-weight: 700;
  font-size:18px;
  width:30px;
  text-align: center;
}  

 .user-icon{
  position:relative;
  right:65px;
  left:6px;
  background-color: beige;
  border-radius:50%;
}

.cart-container{
  width:50px;
  padding-right:10px;
}  


 